@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,542;1,542&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-yellow:54, 100%, 50%;
        --color-black: 356, 8%, 13%;
        --color-orange: 16, 84%, 56%;
        --color-blue: 199, 93%, 46%;
        --color-gray: 0, 1%, 60%;
        --color-red: 355, 73%, 42%;
        --color-green: 76, 62%, 53%;
        --color-purple: 238, 31%, 62%;
        font-family: "Inter", sans-serif;
    }
 
}